body {
    background-color: black;
    color: white;
    font: normal 15px Arial;
}
div#cabeca {
    margin-top: 50px;
    box-shadow: 6px 6px 10px white;
    margin-left: 350px;
}
h2 {
    font: normal 30px Arial;
    color: red;
}
h3 {
    font: normal 25px Arial;
    color: blue;
}
p {
    font: normal 19px Arial;
} 
mark {
    background-color: white;
}
input#escr {
    background-color: black;
    color: white;
}
input#clar {
    background-color: white;
    color: black;
}
div {
    background:url(../fotos/fundo-do-titulo.png); 
    float:left;
}
div#github {
    background:url(../fotos/fundo-do-titulo.png); 
    margin-left: 30px;
    margin-top: 50px;
    height: 70px;
    float:left;
}
div#email {
    background:url(../fotos/fundo-do-titulo.png); 
    height: 75px;
    margin-top: 50px;
    margin-left: 40px;
    float:left;
}
p#gitapa {
    margin-top: 0px;
    font: normal 15px Arial;
    color: blanchedalmond;
}
p#emeapa {
    margin-top: 0px;
    font: normal 15px Arial;
    color: blanchedalmond;
}
h2#ind {
    margin-top: 300px;
}
div#projetos {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
}
p#proapa {
    margin-top: 0;
    font: normal 15px Arial;
    color: blanchedalmond;
}
picture#Ft-titulo {
    font: normal 70px Arial;
    width: 1000pt;
    height: 30pt;
    line-height: 30pt;
    text-align: center;
    color: white;
    margin-top: 100px;
}
div#temas {
    height: 50px;
}
p#music {
    margin-top: 50px;
    float: right;
    height: 50px;
    width: 80px;
    font: normal 25px Times;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(65, 164, 182);
    box-shadow: 3px 3px 5px white;
}
p#fecha {
    float: left;
    margin-left: 10px;
    color: red;
    font-size: 15px;
}
p#music2 {
    font: normal 25px Times;
}
p#music3 {
    font: normal 25px Times;
    text-align: center;
    line-height: 0px;
    margin-right: 0px;
}